router {
    mode: {{qdr_router_mode}}
    id: {{qdr_router_id | default("Router." + ansible_fqdn)}}
    workerThreads: {{qdr_router_worker_threads}}
    debugDumpFile: {{qdr_router_debug_dump}}
    saslConfigDir: {{qdr_router_sasl_path}}
    saslConfigName: {{qdr_router_sasl_name}}
}

{% if qdr_listener_require_ssl %}
sslProfile {
   name: {{qdr_router_id | default("Router." + ansible_fqdn)}}
   caCertFile: {{qdr_listener_ssl_cert_db}}
   certFile: {{qdr_listener_ssl_cert_file}}
   keyFile: {{qdr_listener_ssl_key_file}}
}
{% endif %}

{% for profile in qdr_ssl_profiles %}
sslProfile {
{% for k, v in profile.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

{% for profile in qdr_extra_ssl_profiles %}
sslProfile {
{% for k, v in profile.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

listener {
    host: {{qdr_listener_addr}}
    port: {{qdr_listener_port}}
{% if qdr_listener_require_ssl %}
    sslProfile: {{qdr_router_id | default("Router." + ansible_fqdn)}}
{% endif %}
    authenticatePeer: {{qdr_listener_auth_peer}}
    saslMechanisms: {{qdr_listener_sasl_mech}}
}

{% for listener in qdr_extra_listeners %}
listener {
{% for k, v in listener.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

{% for connector in qdr_connectors %}
connector {
{% for k, v in connector.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

{% for address in qdr_addresses %}
address {
{% for k, v in address.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

{% for address in qdr_extra_addresses %}
address {
{% for k, v in address.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

{% for autolink in qdr_autolink_addresses %}
autoLink {
{% for k,v in autoLink.items() %}
    {{k}}: {{v}}
{% endfor %}
}
{% endfor %}

log {
    module: {{qdr_log_module}}
    enable: {{qdr_log_enable}}
    includeTimestamp: true
    outputFile: {{qdr_log_output}}
}
